<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Ajout d'une application</h1>
     </div>
</section>
<div class="p-4">
    <div class="container">
        <form [formGroup]="addApplicationForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Nom de l'application</label>
                    <input
                        type="text"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                        class="form-control"
                        placeholder="Nom"
                    />
                    <div
                        *ngIf="submitted && f.name.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.name.errors.required">
                            Le nom est obligatoire
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Version</label>
                    <input
                        type="text"
                        formControlName="version"
                        [ngClass]="{ 'is-invalid': submitted && f.version.errors }"
                        class="form-control"
                        placeholder="Version"
                    />
                    <div
                        *ngIf="submitted && f.version.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.version.errors.required">
                            La version est obligatoire
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Protocole</label>
                    <select
                        formControlName="protocol"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.protocol.errors }"
                    >
                        <option value=""></option>
                        <option value="form">Form</option>
                        <option value="basicAuth">BasicAuth</option>
                    </select>
                    <div
                        *ngIf="submitted && f.protocol.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.protocol.errors.required">
                            Le protocole est obligatoire
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Champs d'authentification</label>
                    <textarea
                        class="form-control"
                        formControlName="auth"
                        rows="3"
                        [ngClass]="{ 'is-invalid': submitted && f.auth.errors }"
                    >
                    </textarea>
                    <div
                        *ngIf="submitted && f.auth.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.auth.errors.required">
                            Les champs d'authentification sont obligatoires
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Active</label>
                    <input type="checkbox" formControlName="isActive" class="ml-2"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>URL de l'application</label>
                    <input
                        type="text"
                        formControlName="url"
                        [ngClass]="{ 'is-invalid': submitted && f.url.errors }"
                        class="form-control"
                        placeholder="Url"
                    />
                    <div
                        *ngIf="submitted && f.url.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.url.errors.required">
                            L'Url est obligatoire
                        </div>
                    </div>
                    <div
                        *ngIf="submitted && f.url.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.url.errors.pattern">
                            Veuillez entrer une URL valide
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Description</label>
                    <textarea
                        class="form-control"
                        formControlName="description"
                        rows="3"
                    >
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Fonctions JS</label>
                    <textarea
                        class="form-control"
                        formControlName="jsFunctions"
                        rows="3"
                    >
                    </textarea>
                </div>
            </div>
            <div>
                <h2>Gestion des réseaux</h2>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Nom du reseau</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="networkFilter.name"
                            (ngModelChange)="filter($event)"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </div>
                    <div class="col-sm-6">
                        <label>Entreprise</label>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="networkFilter.company"
                            (ngModelChange)="filter($event)"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 30%">Nom</th>
                            <th style="width: 30%">Description</th>
                            <th style="width: 30%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let network of filtredNetworks">
                            <td>{{network.name}}</td>
                            <td>{{network.name}}</td>
                            <td style="white-space: nowrap">
                                <span>
                                    <input
                                        type="checkbox"
                                        [value]="network.id"
                                        [checked]="checkIfChecked(network.id)"
                                        (change)="onCheckChange($event)"
                                    />
                                </span>
                                <span class="newtorks__view"
                                    ><button
                                        class="btn btn-sm btn-primary ml-5"
                                    >
                                        Voir
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary px-4 float-right">
                Confirmer
            </button>
        </form>
    </div>
</div>
