<div class="p-4">
    <div class="container">
<h1>Entreprise</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Entreprise</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">N</th>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entreprise of entreprises">
            <td>{{entreprise.id}}</td>
            <td>{{entreprise.name}}</td>
            <td>{{entreprise.email}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{entreprise.id}}" class="btn btn-sm btn-primary mr-1" >Modifier</a>
                <a class="btn btn-sm btn-danger mr-1" data-toggle="modal" data-target="#confirm-delete" (click)="deleteEntreprise(entreprise.id)" >Supprimer</a>
            </td>
        </tr>
        <tr *ngIf="!entreprises">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div
    class="modal fade"
    id="confirm-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Supprimer une entreprise</div>
            <div class="modal-body">
                Est ce que vous êtes sur de vouloir supprimer cette entreprise
                ?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger btn-ok"
                    data-dismiss="modal"
                    (click)="confirmDelete()"
                >
                    Confirmer
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                >
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>