<div class="p-4">
    <div class="container">
        <h1>Les applications</h1>
        <a routerLink="/new-application" class="btn btn-sm btn-success mb-2"
            >Ajouter une application</a
        >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nom</th>
                    <th style="width: 30%">Version</th>
                    <th style="width: 30%">Protocole</th>
                    <th style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications">
                    <td>{{application.name}}</td>
                    <td>{{application.name}}</td>
                    <td>{{application.name}}</td>
                    <td style="white-space: nowrap">
                        <a
                            routerLink="edit/{{application.id}}"
                            class="btn btn-sm btn-primary mr-1"
                            >Modifier</a
                        >
                        <a
                            class="btn btn-sm btn-danger mr-1"
                            data-toggle="modal"
                            data-target="#confirm-delete"
                            (click)="deleteApplication(application.id)"
                            >Supprimer</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div
    class="modal fade"
    id="confirm-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Supprimer une application</div>
            <div class="modal-body">
                Est ce que vous êtes sur de vouloir supprimer cette application
                ?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger btn-ok"
                    data-dismiss="modal"
                    (click)="confirmDelete()"
                >
                    Confirmer
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                >
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>
