<div class="p-4">
    <div class="container">
        <h1>Les applications</h1>
        <a routerLink="/new-application" class="btn btn-sm btn-success mb-2"
            >Ajouter une application</a
        >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nom</th>
                    <th style="width: 30%">Version</th>
                    <th style="width: 30%">Protocole</th>
                    <th style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications">
                    <td>{{application.name}}</td>
                    <td>{{application.name}}</td>
                    <td>{{application.name}}</td>
                    <td style="white-space: nowrap">
                        <a
                        class="btn btn-sm btn-primary mr-1"
                        data-toggle="modal"
                        data-target="#application-detail"
                        (click)="showDetails(application.id)"
                        >Voir</a
                        >
                        <a
                            routerLink="edit/{{application.id}}"
                            class="btn btn-sm btn-primary mr-1"
                            >Modifier</a
                        >
                        <a
                            class="btn btn-sm btn-danger mr-1"
                            data-toggle="modal"
                            data-target="#confirm-delete"
                            (click)="deleteApplication(application.id)"
                            >Supprimer</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div
    class="modal fade"
    id="confirm-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Supprimer une application</div>
            <div class="modal-body">
                Est ce que vous êtes sur de vouloir supprimer cette application
                ?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger btn-ok"
                    data-dismiss="modal"
                    (click)="confirmDelete()"
                >
                    Confirmer
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                >
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="application-detail"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Détails de l'application</div>
            <div class="modal-body">
                <div class="input-group">
                    <label for="name"><span class="font-weight-bold">Nom : </span>  {{applicationDetails ? applicationDetails.name: null}}</label>
                </div>
                <div class="input-group">
                    <label for="protocol"><span class="font-weight-bold">Protocole : </span>{{applicationDetails ? applicationDetails.protocol: null}}</label>
                </div>
                <div class="input-group">
                    <label for="version"><span class="font-weight-bold">Version :</span> {{applicationDetails ? applicationDetails.version: null}}</label>
                </div>
                <div class="input-group">
                    <label for="status"><span class="font-weight-bold">Status :</span> {{applicationDetails && applicationDetails.isActive ? 'Active': 'Inactive'}}</label>
                </div>
                <div class="input-group">
                    <label for="url"><span class="font-weight-bold">Url :</span> {{applicationDetails ? applicationDetails.url: null}}</label>
                </div>
                <div class="input-group">
                    <label for="auth"><span class="font-weight-bold">Champs d'authentification :</span> {{applicationDetails ? applicationDetails.auth: null}}</label>
                </div>
                <div class="input-group">
                    <label for="description"><span class="font-weight-bold">Description :</span> {{applicationDetails ? applicationDetails.description: null}}</label>
                </div>
                <div class="input-group">
                    <label for="jsFunctions"><span class="font-weight-bold">Fonction Js :</span> {{applicationDetails ? applicationDetails.jsFunctions: null}}</label>
                </div>
                <div class="input-group">
                    <label for="networks"><span class="font-weight-bold">Réseaux :</span> 
                        <ng-container *ngIf="applicationDetails && applicationDetails.networks">
                            <ul *ngFor="let network of applicationDetails.networks">
                                <li>{{network ? network.name: null}}</li>
                            </ul>
                        </ng-container>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger btn-ok"
                    data-dismiss="modal"
                >
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>