<section class="jumbotron text-center">
    <div class="container">
        <h1 *ngIf="isAddMode" class="jumbotron-heading">
            Ajout d'un administrateur
        </h1>
        <h1 *ngIf="!isAddMode" class="jumbotron-heading">
            Modification d'un administrateur
        </h1>
    </div>
</section>
<div class="p-4">
    <div class="container">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Identifiant</label>
                    <input
                        type="text"
                        formControlName="identifier"
                        [ngClass]="{ 'is-invalid': submitted && f.identifier.errors }"
                        class="form-control"
                        placeholder="identifiant"
                    />
                    <div
                        *ngIf="submitted && f.identifier.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.identifier.errors.required">
                            L'identifiant est obligatoire
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Email</label>
                    <input
                        type="text"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        class="form-control"
                        placeholder="Email"
                    />
                    <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.email.errors.required">
                            L'email est obligatoire
                        </div>
                        <div *ngIf="f.email.errors.email">Email invalide</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Nom</label>
                    <input
                        type="text"
                        formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                        class="form-control"
                        placeholder="Nom"
                    />
                    <div
                        *ngIf="submitted && f.lastName.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.lastName.errors.required">
                            Le nom est obligatoire
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Prénom</label>
                    <input
                        type="text"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                        class="form-control"
                        placeholder="Prénom"
                    />
                    <div
                        *ngIf="submitted && f.firstName.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.firstName.errors.required">
                            Le prénom est obligatoire
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Actif</label>
                    <input
                        type="checkbox"
                        formControlName="isActive"
                        class="ml-2"
                    />
                </div>
                <div class="col-sm-6">
                    <label>Role</label>
                    <input
                        type="text"
                        formControlName="role"
                        [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                        class="form-control"
                        [readonly]="true"
                    />
                    <div
                        *ngIf="submitted && f.role.errors"
                        class="invalid-feedback"
                    >
                        <div *ngIf="f.role.errors.required">
                            Le role est obligatoire
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary px-4 float-right">
                Confirmer
            </button>
        </form>
    </div>
</div>
