<div class="p-4">
    <div class="container">
        <h1>Les administrateurs</h1>
        <a routerLink="/new-user" class="btn btn-sm btn-success mb-2"
            >Ajouter un administrateur</a
        >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Identifiant</th>
                    <th style="width: 30%">Nom</th>
                    <th style="width: 30%">Prénom</th>
                    <th style="width: 30%">Email</th>
                    <th style="width: 30%">Role</th>
                    <th style="width: 30%">Status</th>
                    <th style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.identifier}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.isActive ? 'Actif': 'Inactif'}}</td>
                    <td style="white-space: nowrap">
                        <a
                            routerLink="edit/{{user.id}}"
                            class="btn btn-sm btn-primary mr-1"
                            >Modifier</a
                        >
                        <a
                            class="btn btn-sm btn-danger mr-1"
                            data-toggle="modal"
                            data-target="#confirm-delete"
                            (click)="deleteUser(user.id)"
                            >Supprimer</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div
    class="modal fade"
    id="confirm-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Supprimer un administrateur</div>
            <div class="modal-body">
                Est ce que vous êtes sur de vouloir supprimer cet administrateur
                ?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger btn-ok"
                    data-dismiss="modal"
                    (click)="confirmDelete()"
                >
                    Confirmer
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                >
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>
