<div class="p-4">
    <div class="container">
<h1 *ngIf="isAddMode">Add Network</h1>
<h1 *ngIf="!isAddMode">Edit Network</h1>
<form [formGroup]="addNetworkForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Nom du réseau</label>
            <input
                type="text"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                class="form-control"
                placeholder="Nom"
            />
            <div
                *ngIf="submitted && f.name.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.name.errors.required">
                    Le nom est obligatoire
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Description</label>
            <input
                type="text"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                class="form-control"
                placeholder="Description"
            />
            <div
                *ngIf="submitted && f.description.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.description.errors.required">
                    La description est obligatoire
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Active</label>
            <input type="checkbox" formControlName="isActive" class="ml-2"/>
        </div>
    </div>
    <div>
        <h2>Gestion des entreprises</h2>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nom de l'entreprise</label>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="entrepriseFilter.name"
                    (ngModelChange)="filterEntreprise($event)"
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
            
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nom de l'entreprise</th>
                    <th style="width: 30%">Commentaire</th>
                    <th style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entreprise of filtredEntreprises">
                    <td>{{entreprise.name}}</td>
                    <td>{{entreprise.comment}}</td>
                    <td style="white-space: nowrap">
                        <span>
                            <input
                                type="checkbox"
                                [value]="entreprise.id"
                                [checked]="checkIfChecked(entreprise.id)"
                                (change)="onCheckChange($event)"
                            />
                        </span>
                        <span class="entreprises__view"
                            ><a
                                class="btn btn-sm btn-primary ml-5"
                            >
                                Voir
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div>
        <h2>Gestion des application</h2>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nom de l'application</label>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="applicationFilter.name"
                    (ngModelChange)="filterApplication($event)"
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
            <div class="col-sm-6">
                <label>Version</label>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="applicationFilter.name"
                    (ngModelChange)="filterApplication($event)"
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Application</th>
                    <th style="width: 30%">version</th>
                    <th style="width: 30%">Descriptif</th>
                    <th style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of filtredApplications">
                    <td>{{application.name}}</td>
                    <td>{{application.version}}</td>
                    <td>{{application.description}}</td>
                    <td style="white-space: nowrap">
                        <span>
                            <input
                                type="checkbox"
                                [value]="application.id"
                                [checked]="checkIfCheckedApplication(application.id)"
                                (change)="onCheckChangeApplication($event)"
                            />
                        </span>
                        <span class="applications__view"
                            ><a
                                class="btn btn-sm btn-primary ml-5"
                            >
                                Voir
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button type="submit" class="btn btn-primary px-4 float-right">
        Confirmer
    </button>
</form>
</div>
</div>
