<div class="p-4">
    <div class="container">
<h1 *ngIf="isAddMode">Add Entreprise</h1>
<h1 *ngIf="!isAddMode">Edit Entreprise</h1>
<form [formGroup]="addEntrepriseForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Nom de l'entreprise</label>
            <input
                type="text"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                class="form-control"
                placeholder="Nom"
            />
            <div
                *ngIf="submitted && f.name.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.name.errors.required">
                    Le nom est obligatoire
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Email</label>
            <input
                type="text"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                class="form-control"
                placeholder="Email"
            />
            <div
                *ngIf="submitted && f.email.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.email.errors.required">
                    L'email est obligatoire
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Active</label>
            <input type="checkbox" formControlName="isActive" class="ml-2"/>
        </div>
        <div class="col-sm-6">
            <label>Commentaire</label>
            <textarea
                class="form-control"
                formControlName="comment"
                rows="3"
                [ngClass]="{ 'is-invalid': submitted && f.comment.errors }">
            </textarea>
            <div
                *ngIf="submitted && f.comment.errors"
                class="invalid-feedback">
                <div *ngIf="f.comment.errors.required">
                    Le champs commentaire est obligatoire
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nom</th>
                    <th style="width: 30%">Description</th>
                    <th style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let networkk of networkAdd">
                    <td>{{networkk.name}}</td>
                    <td>{{networkk.name}}</td>
                    <td style="white-space: nowrap">
                        <span>
                            <input
                                type="checkbox"
                                [value]="networkk.id"
                                [checked]="checkIfChecked(networkk.id)"
                                (change)="onCheckChange($event)"
                            />
                        </span>
                        <span class="newtorks__view"
                            ><button
                                class="btn btn-sm btn-primary ml-5"
                            >
                                Voir
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Gestion des réseaux</h2>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nom du reseau</label>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="networkFilter.name"
                    (ngModelChange)="filter($event)"
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
            <div class="col-sm-6">
                <label>Description</label>
                <input
                    type="text"
                    class="form-control"

                
                    [(ngModel)]="networkFilter.description"
                    (ngModelChange)="filter($event)"
                    [ngModelOptions]="{standalone: true}"
                />
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nom</th>
                    <th style="width: 30%">Description</th>
                    <th style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let network of filtredNetworks">
                    <td>{{network.name}}</td>
                    <td>{{network.name}}</td>
                    <td style="white-space: nowrap">
                        <span>
                            <input
                                type="checkbox"
                                [value]="network.id"
                                [checked]="checkIfChecked(network.id)"
                                (change)="onCheckChange($event)"
                            />
                        </span>
                        <span class="newtorks__view"
                            ><button
                                class="btn btn-sm btn-primary ml-5"
                            >
                                Voir
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary px-4 float-right">
        Confirmer
    </button>
</form>
</div>
</div>
